@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Изменить цвет стрелок */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Задайте нужный цвет, например, красный */
}

/* Изменить цвет стрелок при наведении */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffffff; /* Задайте цвет при наведении, например, зеленый */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff; /* Задайте нужный цвет, например, красный */
}

/* Изменить цвет точек */
.swiper-pagination-bullet-active{
  --swiper-theme-color: #ffffff;
}

* {
  scroll-behavior: smooth;
}